* {
  box-sizing: border-box;
  font-family: Arial;
}
:root {
  --very-dark-blue: hsl(217, 54%, 11%);
  --dark-blue: hsl(216, 50%, 16%);
  --VeryDarkBlue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --SoftBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}
body {
  position: relative;
  background-color: var(--very-dark-blue);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  padding: 20px;
  border-radius: 2%;
  background-color: var(--dark-blue);
  width: 350px;
}
img {
  height: 100%;
  width: 100%;
}
.view {
  position: absolute;
  background-color: var(--Cyan);
  opacity: 50%;
  height: 100%;
  width: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view img {
  height: 20%;
  width: 20%;
}
.image {
  position: relative;
  height: 40%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.image:hover .view{
  cursor: pointer;
  visibility: visible;
}
.content {
  position: relative;
  height: 60%;
  border-radius: 2%;
  color: var(--SoftBlue);
}
.text {
  height: 20%;
  font-size: 15px;
}
.text h2 {
  color: white;
}
.text h2:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.info {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.info img {
  width: 8%;
  height: 90%;
}
.info p {
  display: flex;
  gap: 5%;
  width: 50%;
}
.info p:first-child {
  color: var(--Cyan);
}

hr {
  height: 1px;
  background-color: var(--VeryDarkBlue);
  border: none;
}

.bottom {
  height: 20%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom img {
  width: 20%;
  height: 80%;
  border-radius: 50%;
  border: 1px solid var(--White);
}
.bottom a {
  color: var(--White);
}
.bottom a:hover {
  color: var(--Cyan);
  cursor: pointer;
}
@media screen and (max-width: 350px) {
  .container {
    padding: 5%;
  }

  .text {
    font-size: 4vw;
  }
  .info {
    font-size: 3vw;
  }
  .bottom {
    font-size: 3vw;
  }
}
